* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  color: #fff;
  font-size: calc(90% + 0.12vw);
  outline: none;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  * {
    font-size: calc(90% + 0.16vw);
  }
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #0e0404), color-stop(80%, #c50303));
  background: linear-gradient(#0e0404 15%, #c50303 80%);
}

*::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#fb1919), to(#7a0202));
  background: linear-gradient(#fb1919, #7a0202);
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.513);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.513);
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #0e0404), color-stop(80%, #c50303));
  background: linear-gradient(#0e0404 15%, #c50303 80%);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-connect {
  font-family: Arial, Helvetica, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffca00), color-stop(90%, #f98a05));
  background: linear-gradient(#ffca00, #f98a05 90%);
  padding: 10px 20px;
  color: #111;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
  text-shadow: 0 1px 0.5px rgba(255, 255, 255, 0.39);
  position: relative;
  height: 40px;
}

.menu-connect a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.menu-connect:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#61a836), color-stop(90%, #406e23));
  background: linear-gradient(#61a836, #406e23 90%);
}

.media-phone {
  display: none;
}

@media (max-width: 610px) {
  .media-phone {
    display: block;
  }
}

@media (max-width: 610px) {
  .media-desktop {
    display: none;
  }
}

button {
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#c50303), to(#7a0202));
  background: linear-gradient(180deg, #c50303, #7a0202);
  -webkit-box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.5);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 15px;
}

header #toggle {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #toggle .hamburger {
  width: 28px;
  height: 28px;
  cursor: pointer;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

header #toggle .hamburger .line {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin-top: 5px;
  -webkit-transition: -webkit-transform 300ms 300ms linear;
  transition: -webkit-transform 300ms 300ms linear;
  transition: transform 300ms 300ms linear;
  transition: transform 300ms 300ms linear, -webkit-transform 300ms 300ms linear;
}

header #toggle .hamburger .line:first-child {
  margin: 0;
}

header #toggle .hamburger.toggle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

header #toggle .hamburger.toggle .line:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header #toggle .hamburger.toggle .line:nth-child(2) {
  opacity: 0;
}

header #toggle .hamburger.toggle .line:nth-child(3) {
  top: -10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header #toggle .hamburger:hover .line {
  background: #61a836;
}

header #logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 610px) {
  header #logo {
    height: calc(102px / 1.5);
  }
}

header #logo img {
  height: 100%;
}

header #logo img:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

header nav {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Courier New', Courier, monospace;
}

header nav ul li {
  display: inline-block;
  padding: 10px 5px;
}

header nav ul li button {
  margin-left: 10px;
}

header nav ul li:hover {
  border-bottom: 3px solid #ffca00;
}

header nav ul li:hover a,
header nav ul li:hover .fa {
  color: #ffca00;
}

header nav ul li.no-border:hover {
  border: none;
}

@media (max-width: 610px) {
  header #logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  header .search {
    -webkit-box-flex: 0.4;
        -ms-flex: 0.4;
            flex: 0.4;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .search .fa {
    font-size: 1.6rem;
  }
  header .search .fa:hover {
    cursor: pointer;
    color: #61a836;
  }
}

.login-form-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: rgba(85, 0, 0, 0.9);
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

.login-form-pop-up form {
  background: #c50303;
  min-height: 50vh;
  border-radius: 5px;
  padding: 40px 15px;
  position: relative;
  width: 50%;
  text-align: center;
}

.login-form-pop-up form .title {
  width: 100%;
  padding: 0 15px;
  height: 40px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  border-radius: 5px 5px 0 0;
  background-color: #7a0202;
}

.login-form-pop-up form .title h1 {
  font-size: 1.3rem;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.login-form-pop-up form .title i {
  cursor: pointer;
  font-size: 1.3rem;
}

.login-form-pop-up form .desc {
  margin: 20px 0;
}

.login-form-pop-up form .desc h1 {
  font-size: 1rem;
}

.login-form-pop-up form .form-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.login-form-pop-up form .form-group i {
  position: relative;
  left: 30px;
}

.login-form-pop-up form .form-group input {
  border: 1px rgba(253, 100, 100, 0.4) solid;
  border-radius: 5px;
  background: rgba(46, 1, 1, 0.459);
  padding: 20px 5px 20px 50px;
  width: 100%;
}

.login-form-pop-up form .form-group:hover {
  color: #61a836;
}

.login-form-pop-up form label {
  display: block;
  cursor: pointer;
  margin: 20px 0 0;
}

.login-form-pop-up form label input {
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-right: 0;
}

.login-form-pop-up form label:hover {
  color: #61a836;
}

.login-form-pop-up form .menu-connect {
  margin: 10px 0 5px;
}

.login-form-pop-up form a {
  display: block;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.287);
          text-decoration-color: rgba(255, 255, 255, 0.287);
  font-weight: bold;
}

.login-form-pop-up form a:hover {
  color: #61a836;
  -webkit-text-decoration-color: rgba(75, 129, 42, 0.522);
          text-decoration-color: rgba(75, 129, 42, 0.522);
}

.login-form-pop-up form * {
  font-size: 100%;
}

.login-form-pop-up.loginPop {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.login-form-media-phone {
  min-height: calc(100vh - 200px);
}

.login-form-media-phone form {
  background: none;
  min-height: 50vh;
  border-radius: 5px;
  padding: 40px 15px;
  position: relative;
  width: 100%;
  text-align: center;
}

.login-form-media-phone form .title {
  width: 100%;
  padding: 0 15px;
  height: 40px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  border-radius: 5px 5px 0 0;
  background-color: #7a0202;
}

.login-form-media-phone form .title h1 {
  font-size: 1.3rem;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.login-form-media-phone form .title i {
  cursor: pointer;
  font-size: 1.3rem;
}

.login-form-media-phone form .desc {
  margin: 20px 0;
}

.login-form-media-phone form .desc h1 {
  font-size: 1rem;
}

.login-form-media-phone form .form-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.login-form-media-phone form .form-group i {
  position: relative;
  left: 30px;
}

.login-form-media-phone form .form-group input {
  border: 1px rgba(253, 100, 100, 0.4) solid;
  border-radius: 5px;
  background: rgba(46, 1, 1, 0.459);
  padding: 20px 5px 20px 50px;
  width: 100%;
}

.login-form-media-phone form .form-group:hover {
  color: #61a836;
}

.login-form-media-phone form label {
  display: block;
  cursor: pointer;
  margin: 20px 0 0;
}

.login-form-media-phone form label input {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-right: 10px;
}

.login-form-media-phone form label:hover {
  color: #61a836;
}

.login-form-media-phone form .menu-connect {
  margin: 10px 0 5px;
}

.login-form-media-phone form a {
  display: block;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.287);
          text-decoration-color: rgba(255, 255, 255, 0.287);
  font-weight: bold;
}

.login-form-media-phone form a:hover {
  color: #61a836;
  -webkit-text-decoration-color: rgba(75, 129, 42, 0.522);
          text-decoration-color: rgba(75, 129, 42, 0.522);
}

.login-form-media-phone form * {
  font-size: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

main #sidebar-menu {
  position: fixed;
  top: 103px;
  background: #7a0202;
  width: calc(200px + 90px);
  height: calc(100vh - 150px);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: -webkit-transform 300ms linear, -webkit-box-shadow 500ms 380ms ease-out;
  transition: -webkit-transform 300ms linear, -webkit-box-shadow 500ms 380ms ease-out;
  transition: transform 300ms linear, box-shadow 500ms 380ms ease-out;
  transition: transform 300ms linear, box-shadow 500ms 380ms ease-out, -webkit-transform 300ms linear, -webkit-box-shadow 500ms 380ms ease-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  z-index: 1;
  overflow-y: auto;
}

main #sidebar-menu::-webkit-scrollbar-track {
  background: #7a0202;
}

main #sidebar-menu.toggle {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 5px 15px 10px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 15px 10px 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 610px) {
  main #sidebar-menu {
    top: calc(103px / 1.52);
  }
  main #sidebar-menu * {
    font-size: 105%;
  }
}

main #sidebar-menu #sect-one {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border-bottom: #000 solid 2px;
}

main #sidebar-menu #sect-one .menu-connect {
  width: 100%;
  margin-bottom: 10px;
}

main #sidebar-menu #sect-one .menu-connect:last-child {
  margin-bottom: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#61a836), color-stop(90%, #406e23));
  background: linear-gradient(#61a836, #406e23 90%);
}

main #sidebar-menu #sect-one .menu-connect a {
  color: inherit;
}

main #sidebar-menu #sect-two {
  padding: 10px 0;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

main #sidebar-menu #sect-two li {
  padding: 0;
  height: 40px;
}

main #sidebar-menu #sect-two li a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
}

main #sidebar-menu #sect-two li:hover {
  background: rgba(51, 51, 51, 0.3);
  border-color: #61a836;
}

main #sidebar-menu #sect-two li:hover a {
  color: #61a836;
}

main #sidebar-menu #sect-two li.dropdown-list {
  background: rgba(51, 51, 51, 0.3);
  -webkit-box-shadow: inset 0 0 10px rgba(53, 0, 0, 0.5);
          box-shadow: inset 0 0 10px rgba(53, 0, 0, 0.5);
}

main #sidebar-menu #sect-two li.dropdown-list a {
  position: relative;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #sidebar-menu #sect-two li.dropdown-list a span {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

main #sidebar-menu #sect-two li.dropdown-list a i {
  font-size: 120%;
}

main #sidebar-menu #sect-two li.dropdown-list ul {
  -webkit-transition: none;
  transition: none;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-box-shadow: inset 0 0 15px 3px rgba(53, 0, 0, 0.7);
          box-shadow: inset 0 0 15px 3px rgba(53, 0, 0, 0.7);
}

main #sidebar-menu #sect-two li.dropdown-list ul a {
  position: relative;
  z-index: 1;
}

main #sidebar-menu #sect-two li.dropdown-list.toggle {
  height: auto;
}

main #sidebar-menu #sect-two li.dropdown-list.toggle i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main #sidebar-menu #sect-two li.dropdown-list.toggle ul {
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

main #sidebar-menu #sect-two li.dropdown-list:hover {
  cursor: pointer;
}

main .ADV-banner {
  display: none;
}

main .ADV-banner .banner-content {
  height: 110px;
  background-color: #f98a05;
}

main .ADV-banner .banner-content img {
  width: 100%;
  height: 100%;
}

main #images {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #images .img-container {
  width: 200px;
  width: calc(100px + 10vw);
  height: 150px;
  margin: 3px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(black));
  background: linear-gradient(rgba(0, 0, 0, 0.3), black);
  border-radius: 3px;
  position: relative;
}

main #images .img-container img {
  width: 100%;
  height: 100%;
}

main #images .img-container .fa {
  position: absolute;
  bottom: 10%;
}

main #images .img-container .dot {
  left: 10%;
  color: #61a836;
}

main #images .img-container .dot .name {
  padding-left: 10px;
}

main #images .img-container .heart {
  cursor: pointer;
  right: 10%;
  color: #c50303;
}

main #images .img-container .heart:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main #images .img-container .not-active,
main #images .img-container .not-liked {
  font-weight: bold;
}

@media (max-width: 411px) {
  main #images .img-container {
    width: calc(100px + 10vw);
  }
}

main #images .img-container:hover img {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#c50303), to(#7a0202));
  background: linear-gradient(180deg, #c50303, #7a0202);
  width: 100%;
  min-height: 50px;
  color: #fff;
  -webkit-box-shadow: 0 -10px 10px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -10px 10px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  position: relative;
}

footer .go-to-top-btn {
  border-radius: 50%;
  position: absolute;
  top: -40%;
  right: 1%;
}

@media (max-width: 610px) {
  footer .go-to-top-btn {
    top: -35%;
  }
}

footer .footer-nav ul {
  text-align: center;
}

footer .footer-nav ul li {
  display: inline-block;
  border-left: 2px solid #7a0202;
}

footer .footer-nav ul li:first-child {
  border: none;
}

footer .footer-nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  opacity: 0.7;
}

footer .footer-nav ul li a:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */